<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>CRUD</title>
  </head>
  <body>

    <!-- Modal -->
    <div class="modal fade" id="modalMahasiswa" tabindex="-1" aria-labelledby="modalMahasiswaLabel" aria-hidden="true">
      
    </div>
    
    <div class="container mt-5">
      <button type="button" class="btn btn-primary add-mahasiswa">Add Data</button>
      <table class="table mt-3">
        <thead>
          <th>#</th>
          <th>Nama</th>
          <th>Gender</th>
          <th>TTL</th>
          <th>Alamat</th>
          <th>Action</th>
        </thead>
        <tbody>
          {{ .data }}
        </tbody>
      </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script>

      var site_url = "http://localhost:8000/";

      $(document).ready(function(){
        $('.add-mahasiswa').click(function(){
          $.get(site_url + "mahasiswa/get_form", function(html){
            $('#modalMahasiswa').html(html).modal('show')
          });
        });
      });

      $(document).on('click', '.edit-mahasiswa', function() {
        var id = $(this).attr('data-id');
        $.get(site_url + "mahasiswa/get_form?id=" + id, function(html) {
          $('#modalMahasiswa').html(html).modal('show')
        })
      });

      $(document).on('click', '.delete-mahasiswa', function() {
        var id = $(this).attr('data-id');
        var confirmDelete = confirm("Are you sure to delete this data?");
        if (confirmDelete == true) {
          $.post(site_url + "mahasiswa/delete", {id:id}, function(response) {
            alert(response.message)
            $('tbody').html(response.data);
          }, 'JSON');
        }
      })

      $(document).on('submit', '#form-mahasiswa', function(e){
        e.preventDefault();
        $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          dataType: "json",
          success: function(response) {
            // jika berhasil maka replace data di table dengan data response json
            $('tbody').html(response.data)
            alert(response.message)
            $('#modalMahasiswa').modal('hide')
            console.log(response);
          },
          error: function(response) {
            console.log(response);
          }
        })
      })

    </script>
  </body>
</html>